.organization-type-distribution {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.organization-type-distribution__chart {
  max-width: 400px;
  max-height: 300px;
}
